{{#section 'footer'}}
   <script>
       $('.addCourse').on('click', function () {
    const id = $(this).data('id');
    $('#IdKhoaHoc').val(id);
    $('#frmAddCourse').submit();
  });
   </script>

       <script>
       $('.enrollCourse').on('click', function () {
      const id = $(this).data('id');
      let frmId = '#frmEnrollCourse'+id
      $(frmId).submit();
  });
   </script>

{{/section}}

    <section class="mt-3 d-flex flex-row"> 
               <div class="ml-3 col-3">
                    <div class="site_bar">
                        <div class="site_bar_title">
                            <i class="fa fa-bars"></i>
                            <span>Danh mục</span>
                        </div>
                            <nav class="header__menu">
                                <ul class="pl-2">
                                    {{#each lcCategories}}
                                         <li class="active"><a href="#">{{TenLinhVuc}}</a>
                                        <ul class="header__menu__dropdown">
                                            {{#each level2}}
                                                 <li><a href="/courses/{{idLinhVucCap2}}">{{TenLinhVucCap2}}</a></li>
                                            {{/each}}
                                           

                                        </ul>
                                    </li>
                                    {{/each}}
                                   
                                    
                                </ul>
                            </nav>    
                        </div  >  
               </div> 
            <div class="col-sm-8 d-flex justify-content-center">
                <img src="../img/banner-1.jpg">
            </div>
            </div>

        </div>
    </section>
    <!--Ngan's Featured Section-->
    <section>
        <div>
            <div>
                <div class="col_section">
                    <div class="section-title">
                        <h2>Khóa học nổi bật</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">Tất cả</li>
                            {{#each lvCap2}}
                            <li data-filter=".{{TenLinhVuc}}">{{TenLinhVuc}}</li>
                            {{/each}}
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="all_row_featured featured__filter">
                <!--Form add cart-->
                 <form action="/cart/add" method="post" id="frmAddCourse">
                     <input type="hidden" name="IdKhoaHoc" id="IdKhoaHoc">
                </form>
                
                <!--Form add cart .//-->
                {{#each lvCap2}}
                    {{#each courses}}
                    <form action="/detail-course/{{IdKhoaHoc}}/enroll" method="post" id="frmEnrollCourse{{IdKhoaHoc}}">
                      <input type="hidden" name="IdKhoaHoc" value="{{IdKhoaHoc}}">
                    </form>
                     <div class=" col_featured  mix {{../TenLinhVuc}}">
                    <div class="featured__item featured__item__pic__hover_box">
                        <div class="featured__item__pic set-bg " data-setbg="/img/onlCourse.jpg">
                            <ul class="featured__item__pic__hover ">
                                <li><a data-id="{{IdKhoaHoc}}" href="javascript:;" role="button" class="enrollCourse"><i class="fa fa-registered" aria-hidden="true"></i></a></li>
                                <li><a  data-id="{{IdKhoaHoc}}" href="javascript:;" role="button" class="addCourse"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6 class="font-weight-bold"><a href="/detail-course/{{IdKhoaHoc}}">{{TenKhoaHoc}}</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i  class="text-dark"> <span>(<i class="fa fa-user" aria-hidden="true"></i>{{SoLuotXem}})</span> </i>
                            </div>   
                            <h6 class="text-truncate" style="height: 50px;" >{{MoTaNgan}}</h6>  
                            <h6 class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i>{{NgayCapNhat}}</h6>
                        </div>
                    </div>
                     </div>
                {{/each}}    
                {{/each}}

               
            </div>
        </div>
    </section>

<!--end Ngan featured section-->


    <section class="become-teacher">
        <div class="teacher-block">
            <div>
                <h2>
                    Đăng kí ngay để trở thành giảng viên của chúng tôi
                </h2>
                <div class="teacher">
                    <div class="inner-teacher">
                        <img src="../img/teacher-icon3-01.png">
                        <p>Giảng viên</p>
                    </div>
                </div>
                <div class="teacher">
                    <div class="inner-teacher">
                        <img src="../img/teacher-icon1-01.png">
                        <p>Chuyên gia</p>
                    </div>
                </div>
                <div class="teacher">
                    <div class="inner-teacher">
                        <img src="../img/teacher-icon2-01.png">
                        <p>Doanh nhân</p>
                    </div>
                </div>
                <div class="teacher">
                    <div class="inner-teacher">
                        <img src="../img/teacher-icon4-01.png">
                        <p>Doanh nghiệp</p>
                    </div>
                </div>
                
            </div>
            <span>
                “Có trên 3 năm kinh nghiệm trong lĩnh vực muốn giảng dạy
                <br>
                Kỹ năng trình bày lưu loát, dễ hiểu, ngôn ngữ cơ thể tốt.”
            </span>

            </div>
            <div class="more-student become-teacher-button">
                <a href="/register/teacher" class="btn btn-outline-info">Đăng kí</a>
            </div>
    </section>
 <!--Top student-->
          <section class="text-center">
            <div class="container-xl mt-5 mb-5">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="d-flex justify-content-center"><b>Học sinh tiêu biểu</b></h4>
                  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0"> 
                  <!-- Wrapper for carousel items -->
                  <div class="carousel-inner">
                    <div class="item carousel-item active">
                      <div class="row">
                        <!--Student-->
                        <div class="col-sm-3">
                          <div class="thumb-wrapper">
                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                            <div class="img-box">
                              <img src="/img/teacher-icon1-01.png" class="img-fluid" alt="course-1">									
                            </div>
                            <div class="thumb-content">
                              <h4 class="text-truncate"><b>Nguyễn Văn A</b></h4>		
                              <h6 class="text-muted">Trường THPT Nguyễn Khuyến</h6>					
                          
                              <p class="item-price">Số khóa học đã tham gia:<b>20</b></p>
                              <p class="item-price">Đã hoàn thành 18/20 khóa học</p>
                              <a href="#" class="btn btn-info">Xem chi tiết</a>
                            </div>						
                          </div>
                        </div>
                        <!--End student .//-->
                          <!--Student-->
                        <div class="col-sm-3">
                          <div class="thumb-wrapper">
                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                            <div class="img-box">
                              <img src="/img/teacher-icon1-01.png" class="img-fluid" alt="course-1">									
                            </div>
                            <div class="thumb-content">
                              <h4 class="text-truncate"><b>Nguyễn Văn A</b></h4>		
                              <h6 class="text-muted">Trường THPT Nguyễn Khuyến</h6>					
                          
                              <p class="item-price">Số khóa học đã tham gia:<b>20</b></p>
                              <p class="item-price">Đã hoàn thành 18/20 khóa học</p>
                              <a href="#" class="btn btn-info">Xem chi tiết</a>
                            </div>						
                          </div>
                        </div>
                        <!--End student .//-->
                        <!--Student-->
                        <div class="col-sm-3">
                          <div class="thumb-wrapper">
                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                            <div class="img-box">
                              <img src="/img/teacher-icon1-01.png" class="img-fluid" alt="course-1">									
                            </div>
                            <div class="thumb-content">
                              <h4 class="text-truncate"><b>Nguyễn Văn A</b></h4>		
                              <h6 class="text-muted">Trường THPT Nguyễn Khuyến</h6>					
                          
                              <p class="item-price">Số khóa học đã tham gia:<b>20</b></p>
                              <p class="item-price">Đã hoàn thành 18/20 khóa học</p>
                              <a href="#" class="btn btn-info">Xem chi tiết</a>
                            </div>						
                          </div>
                        </div>
                        <!--End student .//-->					
                         <!--Student-->
                        <div class="col-sm-3">
                          <div class="thumb-wrapper">
                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                            <div class="img-box">
                              <img src="/img/teacher-icon1-01.png" class="img-fluid" alt="course-1">									
                            </div>
                            <div class="thumb-content">
                              <h4 class="text-truncate"><b>Nguyễn Văn A</b></h4>		
                              <h6 class="text-muted">Trường THPT Nguyễn Khuyến</h6>					
                          
                              <p class="item-price">Số khóa học đã tham gia:<b>20</b></p>
                              <p class="item-price">Đã hoàn thành 18/20 khóa học</p>
                              <a href="#" class="btn btn-info">Xem chi tiết</a>
                            </div>						
                          </div>
                        </div>
                        <!--End student .//-->
                      </div>
                    </div>
                  
                    <div class="item carousel-item">
                      <div class="row">
                         <!--Student-->
                        <div class="col-sm-3">
                          <div class="thumb-wrapper">
                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                            <div class="img-box">
                              <img src="/img/teacher-icon1-01.png" class="img-fluid" alt="course-1">									
                            </div>
                            <div class="thumb-content">
                              <h4 class="text-truncate"><b>Nguyễn Văn A</b></h4>		
                              <h6 class="text-muted">Trường THPT Nguyễn Khuyến</h6>					
                          
                              <p class="item-price">Số khóa học đã tham gia:<b>20</b></p>
                              <p class="item-price">Đã hoàn thành 18/20 khóa học</p>
                              <a href="#" class="btn btn-info">Xem chi tiết</a>
                            </div>						
                          </div>
                        </div>
                        <!--End student .//-->
                      </div>
                    </div>
                  </div>
                  <!-- Carousel controls -->
                  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                  </a>
                  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                  </a>
                </div>
                </div>
              </div>
            </div> 
          </section>
          <!--End Top related course .//-->