 <div class="container">
        <div class="main-body">
        
              <!-- Breadcrumb -->
              <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                  <li class="breadcrumb-item active" aria-current="page">My courses</li>
                </ol>
              </nav>
              <!-- /Breadcrumb -->
        
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                           {{#with stuAccount}}
                          {{#if TenHocVien}}
                            <h4>{{TenHocVien}}</h4>
                          {{else}}
                            <h4>(NO NAME)</h4>
                          {{/if}}
                          
                          {{#if NgaySinh}}
                            <p class="text-secondary mb-1">{{Tuoi}} years old</p>
                          {{else}}
                            <p class="text-secondary mb-1">(NO BIRTHDAY)</p>
                          {{/if}}
                          <form action="/user/my-watchlist/remove" method="post" id="frmRemoverCourse">
                        <input type="hidden" name="IdKhoaHoc" id="IdKhoaHoc">
                        <input type="hidden" name="idHocVien" id="idHocVien" value="{{idHocVien}}">
                        </form>
                          {{/with}}
                          <a class="btn btn-primary" href="/user/profile">Edit profile</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3">
                   <div class="card mt-3">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action" href="/user/profile">Profile</a>
                        <a class="list-group-item list-group-item-action active" href="">My courses</a>
                        <a class="list-group-item list-group-item-action" href="/user/my-watchlist">My watchlist</a>
                        <a class="list-group-item list-group-item-action">Log out</a>
                      </div>
                  </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <h3 class="card-header text-center font-weight-bold text-uppercase mb-3">My courses ({{nCourses}})</h3>
                  <!--Watchlist-->

                <div class="row">
                  <!--Card-->
                  {{#each myCourses}}
                    <div class="col-12 col-md-6 mt-2">
                    <div class="card">
                      <img class="card-img-top" src="../img/onlCourse.jpg" alt="course-img">
                      <div class="card-body">
                        <h5 class="card-title text-truncate"><h5>{{TenKhoaHoc}}</h5></h5>
                        <div><b>{{TenGiangVien}}</b></div>
                        <p class="text-justify text-truncate para mb-0">{{MoTaNgan}}</p>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" style="width: {{progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{progress}}% completed</div>
                        </div>
                        <div class="d-flex flex-row">
                          <div class="mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                          <span><a hfre="#">Leave a rating</a></span>
                      </div>
                      <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-danger btn-sm stretched-link" href="/user/view-video/{{fistIdVid}}&{{IdKhoaHoc}}">View this course</a>     
                      </div>  
                      </div>
                      </div>
                    </div>
                  {{/each}}
                  
                    <!--Card .//-->

                  </div>
                  <!--End watchlist .//-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Card .//-->

        </div>
        <!--End watchlist .//-->
      </div>
    </div>
  </div>
</div>

</div>