{{#section 'header'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}
 
{{#section 'footer'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

<script>
 $('#txtDOB').datetimepicker({
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });

</script>

{{/section}}

<div class="container">
        <div class="main-body">
        
              <!-- Breadcrumb -->
              <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{stuAccount.TenHocVien}} Profile</li>
                </ol>
              </nav>
              <!-- /Breadcrumb -->
        
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          {{#with stuAccount}}
                          {{#if TenHocVien}}
                            <h4>{{TenHocVien}}</h4>
                          {{else}}
                            <h4>(NO NAME)</h4>
                          {{/if}}
                          
                          {{#if NgaySinh}}
                            <p class="text-secondary mb-1">{{Tuoi}} years old</p>
                          {{else}}
                            <p class="text-secondary mb-1">(NO BIRTHDAY)</p>
                          {{/if}}
                          
                          {{/with}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active">My profile</a>
                        <a class="list-group-item list-group-item-action" href= "/user/my-courses">My courses</a>
                        <a class="list-group-item list-group-item-action" href="/user/my-watchlist">My watchlist</a>
                        <a class="list-group-item list-group-item-action">Log out</a>
                      </div>
                  </div>
                </div>
                <div class="col-md-8">
                 
                  <div class="card">

                    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">My profile</h3>
                    <div class="card-body">
                      <!--Form Edit-->
                       <!--Form Edit .//-->
                      <div id="table" class="table-editable">
                        {{#with stuAccount}}
                          
                        
                        <table class="table table-bordered table-responsive-md table-striped text-center">
                          
                            <thead>
                              <tr>
                                <th class="text-center">No</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">Value</th>
                                <th class="text-center">Edit</th>
                              </tr>
                            </thead>
                            <tbody>
                                <form action="/user/profile/edit-email" method="post">
                              <tr>
                                <td class="pt-3-half" contenteditable="true">1</td>
                                <td class="pt-3-half" contenteditable="true">Email</td>
                                <td class="pt-3-half" contenteditable="true">
                                <input type="hidden" name="idHocVien" value="{{idHocVien}}">
                                  <input type="email" class="form-control" id="editInputEmail" name="Email" placeholder="{{Email}}">
                                </td>
                                <td>
                                  <span class="table-remove"><button type="submit"
                                      class="btn btn-success btn-rounded btn-sm btn-block my-0">Save</button></span>
                                </td>
                              </tr>
                              </form>
                              <!-- This is our clonable table line -->
                                <form action="/user/profile/edit-name" method="post">
                                <input type="hidden" name="idHocVien" value="{{idHocVien}}">
                              <tr>
                                <td class="pt-3-half" contenteditable="true">2</td>
                                <td class="pt-3-half" contenteditable="true">Full name</td>
                                <td class="pt-3-half" contenteditable="true">
                                  <input type="text" class="form-control" id="fullname" placeholder="{{TenHocVien}}" name="TenHocVien">
                                </td>
                               <td>
                                  <span class="table-remove"><button type="submit"
                                      class="btn btn-success btn-rounded btn-sm btn-block my-0">Save</button></span>
                                </td>
                              </tr>
                              </form>
                              <!-- This is our clonable table line -->
                              <form action="/user/profile/edit-dob" method="post">
                              <input type="hidden" name="idHocVien" value="{{idHocVien}}">
                              <tr>
                                <td class="pt-3-half" contenteditable="true">3</td>
                                <td class="pt-3-half" contenteditable="true">Birthday</td>
                                <td class="pt-3-half" contenteditable="true">
                                  <input type="text" class="form-control" id="txtDOB" name="NgaySinh">
                                </td>
                                <td>
                                  <span class="table-remove"><button type="submit"
                                      class="btn btn-success btn-rounded btn-sm btn-block my-0">Save</button></span>
                                </td>
                              </tr>
                              </form>
                            </tbody>
                          </form>
                          <tr>
                                <td class="pt-3-half" contenteditable="true">3</td>
                                <td class="pt-3-half" contenteditable="true">Password</td>
                                <td class="pt-3-half" contenteditable="true">
                                  <input type="text" class="form-control " id="txtPass" name="MatKhau" readonly placeholder="***********">
                                </td>
                                <td>
                                  <span class="table-remove"><a href="/user/profile/edit-pass"
                                      class="btn btn-danger btn-rounded btn-sm btn-block my-0 btn-change-pass">Change PassWord</a></span>
                                </td>
                              </tr>
                        </table>
                        {{/with}}
                      </div>
                    </div>
                  </div>
                  <!--End Edit profile-->
                  </div>
                </div>
              </div>
            </div>
            
        </div>
        